USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_AgendaCitas_SelectRange]    Script Date: 08/08/2026 10:41:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: sp_AgendaCitas_SelectRange  (overlap)
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_AgendaCitas_SelectRange]
    @FechaInicio DATETIME,
    @FechaFin    DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCita,
        FechaInicio,
        FechaFin,
        TodoDia,
        Asunto,
        Descripcion,
        Ubicacion,
        Etiqueta,
        Estatus,
        Tipo,
        RecurrenceInfo,
        ReminderInfo,
        IdRecurso,
        IdExpediente,
        IdTipoCita
    FROM dbo.AgendaCitas
    WHERE
        FechaInicio < @FechaFin
        AND FechaFin > @FechaInicio
    ORDER BY FechaInicio;
END
