USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_CRUD_AgendaCitas_Insert]    Script Date: 08/08/2026 10:42:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: Insert
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_CRUD_AgendaCitas_Insert]
    @FechaInicio     DATETIME,
    @FechaFin        DATETIME,
    @TodoDia         BIT,
    @Asunto          NVARCHAR(200),
    @Descripcion     NVARCHAR(MAX) = NULL,
    @Ubicacion       NVARCHAR(200) = NULL,
    @Etiqueta        INT = NULL,
    @Estatus         INT = NULL,
    @Tipo            INT = 0,
    @RecurrenceInfo  NVARCHAR(MAX) = NULL,
    @ReminderInfo    NVARCHAR(MAX) = NULL,
    @IdRecurso       INT = NULL,
    @IdExpediente    VARCHAR(50) = NULL,
    @IdTipoCita      INT = NULL,
    @UsuarioCrea     VARCHAR(50) = NULL,
    @IdCita          INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.AgendaCitas
    (
        FechaInicio, FechaFin, TodoDia,
        Asunto, Descripcion, Ubicacion,
        Etiqueta, Estatus, Tipo,
        RecurrenceInfo, ReminderInfo,
        IdRecurso, IdExpediente, IdTipoCita,
        UsuarioCrea
    )
    VALUES
    (
        @FechaInicio, @FechaFin, @TodoDia,
        @Asunto, @Descripcion, @Ubicacion,
        @Etiqueta, @Estatus, @Tipo,
        @RecurrenceInfo, @ReminderInfo,
        @IdRecurso, @IdExpediente, @IdTipoCita,
        @UsuarioCrea
    );

    SET @IdCita = SCOPE_IDENTITY();
END
