USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_Cat_AgendaRecurso_List]    Script Date: 08/08/2026 10:41:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: Cat_AgendaRecurso_List
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_Cat_AgendaRecurso_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdRecurso, Nombre, Activo, Orden
    FROM dbo.Cat_AgendaRecurso
    WHERE Activo = 1
    ORDER BY Orden, Nombre;
END
