USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_Cat_AgendaEtiqueta_List]    Script Date: 08/08/2026 10:41:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: Cat_AgendaEtiqueta_List
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_Cat_AgendaEtiqueta_List]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdEtiqueta, Nombre, ColorArgb, Activo, Orden
    FROM dbo.Cat_AgendaEtiqueta
    WHERE Activo = 1
    ORDER BY Orden, Nombre;
END
