USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_CRUD_AgendaCitas_Delete]    Script Date: 08/08/2026 10:41:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: Delete
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_CRUD_AgendaCitas_Delete]
    @IdCita INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.AgendaCitas
    WHERE IdCita = @IdCita;
END
