USE [Notaria01]
GO
/****** Object:  StoredProcedure [dbo].[sp_CRUD_AgendaCitas_Update]    Script Date: 08/08/2026 10:42:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   SP: Update
   ============================================================ */
ALTER PROCEDURE [dbo].[sp_CRUD_AgendaCitas_Update]
    @IdCita          INT,
    @FechaInicio     DATETIME,
    @FechaFin        DATETIME,
    @TodoDia         BIT,
    @Asunto          NVARCHAR(200),
    @Descripcion     NVARCHAR(MAX) = NULL,
    @Ubicacion       NVARCHAR(200) = NULL,
    @Etiqueta        INT = NULL,
    @Estatus         INT = NULL,
    @Tipo            INT = 0,
    @RecurrenceInfo  NVARCHAR(MAX) = NULL,
    @ReminderInfo    NVARCHAR(MAX) = NULL,
    @IdRecurso       INT = NULL,
    @IdExpediente    VARCHAR(50) = NULL,
    @IdTipoCita      INT = NULL,
    @UsuarioMod      VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.AgendaCitas
    SET
        FechaInicio    = @FechaInicio,
        FechaFin       = @FechaFin,
        TodoDia        = @TodoDia,
        Asunto         = @Asunto,
        Descripcion    = @Descripcion,
        Ubicacion      = @Ubicacion,
        Etiqueta       = @Etiqueta,
        Estatus        = @Estatus,
        Tipo           = @Tipo,
        RecurrenceInfo = @RecurrenceInfo,
        ReminderInfo   = @ReminderInfo,
        IdRecurso      = @IdRecurso,
        IdExpediente   = @IdExpediente,
        IdTipoCita     = @IdTipoCita,
        UsuarioMod     = @UsuarioMod,
        FechaMod       = GETDATE()
    WHERE IdCita = @IdCita;
END
