
html, body {
    width: 100%;
    height: 99.9%;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.Principal {
    width: 100%;
    height: 100%;
}

.CLPageHeader {
    width: 100%;
    height: 65px;
    border: 1px solid #a52a2a;
    padding-left: 10px;
    padding-top: 10px;
}

.CLPageControls {
    width: 240px;
    height: auto;
    border: 1px solid #a52a2a;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aliceblue;
}

    .CLPageControls .collapsed {
        transition: .3s transform ease-in-out;
        transform: rotate(90deg);
    }

.CLPageContent {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    /*border: 1px solid #a52a2a;*/
}

.CLPageFooter {
    width: 100%;
    height: 3%;
    /*border: 1px solid purple;*/
    font-family: DIN;
    font-size: 10px;
    font-weight: 100;
}

.titleHeader {
    font-family: DIN;
    font-size: 25px;
    /*font-weight:50;*/
    vertical-align: middle;
}


.imagenLogo {
    border: 2px solid #9e311c;
    border-radius: 50%;
}

.version {
    font-family: DIN;
    float: right;
    font-size: 15px;
    /*font-weight: 20;*/
    margin-right: 20px;
}

.input-group-prepend span {
    width: 20px;
    height: 20px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.controles {
    background-color: aliceblue;
}

.page_btn {
    color: black;
    background: none;
    width: 10px;
    height: 10px;
    padding: 5px 5px 5px 5px;
}

    .page_btn:hover {
        color: black;
        background-color: #9e311c;
    }

.testClass {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

.iconClass {
    font-size: 10px;
}


/*.popupStyle {
    background-color: rgba(63,255,106,0.69);
    z-index: 1400 !important;
}*/


.swal2-container {
    z-index: 300000 !important;
}


/*.popupStyle {
    background-color: rgba(63,255,106,0.69);
    z-index: 1400 !important;
}*/


.swal-modal {
    z-index: 15000;
}



.topPanelRound {
    margin: 0px;
    margin-left: -15px;
    padding: 0px;
}

.RPopcionConsulta {
    margin-left: 55px;
    margin-top: 0;
    padding: 0px;
}

.RPopcionConsultaSegunda {
    margin-left: 5px;
    margin-top: 0;
    padding: 0px;
}

.elementPanelConsulta {
    display: inline-block;
}

.RPpanelGraficas {
    margin-left: 65%;
    margin-top: 0;
    padding: 0px;
}

.dx-fab-active-button {
    transform: scale(.7);
    background-color: #2A385D !important;
}
