.cabeceraApp {
    line-height: 50px;
    height: 50px;
}
.btnCabecera {
    border-radius: 1.4em !important;
    padding: 8px !important;
}
.cabeceraApp .titulo {
    float: left;
    width: 48%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2%;
}
.cabeceraApp .botoneraIzquierda {
    float: left;
    width: 28%;
    padding-left: 10%;
}
.cabeceraApp .botoneraDerecha {
    float: left;
    width: 14%;
    text-align: right;
    padding-right: 1%;
}
.cabeceraApp .logo {
    float: left;
    width: 23%;
   
}
    .cabeceraApp .logo .logoPrincipal {
        margin: 20px 0px 0px 0px;
        width: 50%;
        height: 80px
    }
.Mensajeerror {
    /*background-color: #FA7E6B;*/
    color: #ff0000;
}
.Mensajeinformativo {
    /*background-color: #CEF393;*/
    color: #3a6730;
}
.Mensaje {
    /*background-color: #FFFFFF;*/
    color: #000000;
}
.LogonContainer {
    /* background-color: #F9F994;*/
    /*color: white;*/
    float: left;
    width: 100%;
    min-width: 815px;
    height: 448px;
    margin-top: 10%;
    margin-left:33%
   /* border:solid;*/
}

    .LogonContainer.LogonError {
        height: 490px;
    }
.LogoImage {
    /*margin: 20px 0px 0px 0px;
        width: 10%;
        height: 40px*/
    width: 40%;
    margin-left:29%;
}

    .LogonContainer .LogonContent {
        padding-top: 20px;
        padding-left:0px;
    }

    .LogonContainer .LogonFormLayout {
        
        margin-left: 25%;
        
        float: left;
    }
.LogonContainer .LogonTitulo {
    margin-left: 35%;
    float: left;
}
    .LogonContainer .LogonGroupBox > table {
        margin-top: -31px !important;
    }

    .LogonContainer .LogonEmptyItem {
        height: 28px !important;
    }

    .LogonContainer .LogonCaption,
    .LogonContainer .LogonLogoCaption {
        color: white !important;
        background-color: transparent !important;
    }

    .LogonContainer .LogonLogoCaption {
        font-size: 60px;
        font-weight: 100;
    }

    .LogonContainer .LogonCaption {
        font-size: 27px;
        font-weight: 300;
    }

    .LogonContainer .LogonGroupBox {
        border-width: 0 !important;
    }

    .LogonContainer .LogonAccountNameItem {
        padding-bottom: 7px !important;
    }

    .LogonContainer .LogonUserPasswordItem {
        padding-top: 7px !important;
    }

    .LogonContainer .AccountNameTextBox .dxic,
    .LogonContainer .UserPasswordTextBox .dxic {
        padding-left: 50px !important;
    }

    .LogonContainer .AccountNameTextBox input,
    .LogonContainer .UserPasswordTextBox input {
        font-size: 25px;
        font-weight: 400;
        background-color: transparent !important;
    }

    .LogonContainer .AccountNameTextBox,
    .LogonContainer .UserPasswordTextBox {
        background-position: 7px 50% !important;
    }

    .LogonContainer .AccountNameFocused,
    .LogonContainer .PasswordFocused {
        border-color: lightgray !important;
        outline-color: lightgray !important;
    }

    .LogonContainer .AccountNameError,
    .LogonContainer .ErrorLabel {
       /* color: white !important;*/
        font-size: 19px;
        font-weight: 300;
    }

.LogonContainer .SignInButton {
    width: 149px;
    height: 60px;
    color: #000000 !important;
    background-image: none !important;
    /*background-color: transparent !important;*/
    border: 3px solid #000000 !important;
    border-radius: 0;
    font-size: 21px;
    font-weight: 100;
}
.btn .miboton {
    color: #000000 !important;
}

.LogonContainer .TextoLogin {
    width: 149px;
    height: 60px;
    color: #ffffff !important;
    background-image: none !important;
    background-color: transparent !important;
    
    border-radius: 0;
    font-size: 21px;
    font-weight: 100;
}

    .LogonContainer .ErrorLabel {
        width: 490px;
    }

    .LogonContainer .LogonErrorItem {
        padding-top: 17px !important;
    }

    .LogonContainer .dxeTextBox_Mulberry {
        border-width: 0 !important;
    }