@font-face {
    font-family: "Engschrift";
    src: url("/fonts/DINEngschrift.ttf");
}

@font-face {
    font-family: "DIN";
    src: url("/fonts/DINRegular.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}


header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-image: url('../imagenes/header/fondoHeader.png');*/
    /*background-image: url('../imagenes/header/fondoHeaderGPSBborde.png');*/
    /*background-image: url('../imagenes/header/fondoHeaderBlack.png');*/
    background-color: #d12727;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 0px solid yellow;
}

header .logo {
    color: #f2f2f2;
    font-family: "DIN";
    font-size: 20px;
    padding-left: 1%;
    margin-top: -8px;
    padding-top: 0px;
    float: left;
}

.etiquetas {
    color: #f2f2f2;
    font-family: "DIN";
    font-size: 20px;
    margin-top: 2px;
}

.clsCabecero {
    width: 100%;
    height: 100%;
}


header .Title {
    color: #f2f2f2;
    font-family: "DIN";
    font-size: 25px;
    padding: 23px 10px 10px 10px;
    float: left;
}

.imagenCL {
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    padding: 10px;
    border: 0px solid blue;
}

.imagenGG {
    margin: 10px;
    margin-top: 0%;
    padding: 0px;
    float: left;
    border: 0px solid blue;
}


.login_btn {
    color: black;
    background: none;
    border:hidden;
    background-image: url('../imagenes/header/cerrarSessionMin.png');
    background-size: 50px 50px;
    background-position: center; 
    background-repeat: no-repeat;
    width: 50px !important;
    height: 50px;
}

.close {
    float: right;
    line-height: 200px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.menuitem {
    text-align: center;
    width: 15%;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-top: 0px;
    line-height: normal;
    font-family: "DIN";
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.menuitem2 {
    text-align: right;
    width: 20%;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-top: 0px;
    line-height: normal;
    font-family: "DIN";
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.usuario{
    font-size:20px;
}

header nav a:hover {
    background: #f56f3a;
    border-radius: 50px;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}

.header2 nav {
    line-height: 100px;
}

.idioma {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 20px;
    align-content: center;
}




.clsidioma .dxeEditArea {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    background: #e14544;
    border-top: 2px solid #e14544;
    border-left: 2px solid #e14544;
    border-bottom: 2px solid #e14544;
    border-right: 2px solid #e14544;
    float: right;
}

.dxeButtonEdit {
    position: absolute;
    background-color: #e14544;
    border: 1px solid #e14544;
    font: 14px "DIN", sans-serif;
    font-weight: bold;
    z-index: 1000;
}

.clsSalir {
    background-color: #e14544;
    float: right;
}

@media screen and (max-width:1900px) {
    .menuitem {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    header .Title {
        font-size: 25px;
    }
    .header2 .logo {
        font-size: 28px;
    }
}

@media screen and (max-width:1700px) {
    .menuitem {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
    .menuitem2 {
        width: 15%;
    }
    header .Title {
        font-size: 25px;
    }
    .header2 .logo {
        font-size: 26px;
    }
}
@media screen and (max-width:1500px) {
    .menuitem {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
    .menuitem2 {
        width: 15%;
    }
    header .Title {
        visibility: hidden;
    }

    .header2 .logo {
        font-size: 26px;
    }

}

    @media screen and (max-width:1330px) {
        .menuitem {
            text-align: start;
            font-size: 15px;
            font-weight: normal;
        }
        .menuitem2 {
           visibility:hidden;
        }
        .usuario {
            font-size: 15px;
        }

        header .Title {
            visibility: hidden;
        }

        .header2 .logo {
            font-size: 24px;
        }
    }

    @media screen and (max-width:1100px) {
        .menuitem {
            text-align: start;
            font-size: 12px;
            font-weight: normal;
        }

        .usuario {
            font-size: 10px;
        }
        .menuitem2 {
            visibility: hidden;
        }
        header .Title {
            visibility: hidden;
        }

        .header2 .logo {
            font-size: 22px;
        }
    }

    @media screen and (max-width:1024px) {
        .menuitem {
            text-align: left;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            line-height: normal;
            font-family: "DIN";
            font-size: 10px;
            margin-top: 20px;
            margin-left: 30px;
            padding-top: 35px;
        }

        .usuario {
            font-size: 10px;
        }

        header .Title {
            visibility: hidden;
        }
        .menuitem2 {
            visibility: hidden;
        }
        .header2 .logo {
            font-size: 20px;
        }
    }