@font-face {
    font-family: "fa-solid-900";
    src: url("/fonts/fa-solid-900.woff");
}

@font-face {
    font-family: "fa-solid-900-2";
    src: url("/fonts/fa-solid-900.woff2");
}

@font-face {
    font-family: "Engschrift";
    src: url("/fonts/DINEngschrift.ttf");
}

@font-face {
    font-family: "DIN";
    src: url("/fonts/DINRegular.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    overflow:auto;
}

.accordion .card {
    color: #424e5d;
    border: 1px solid #dddddd;
}

.accordion .card a {
    color: #424e5d;
    text-decoration: none;
}

.accordion .card-header {
    background: linear-gradient(315deg, #fff 98%, #af221d 10%);
    /*background: radial-gradient(circle farthest-side,#af221d, #fff);*/
    padding: .75rem 1rem;
    position: relative;
}

.accordion .card-header:hover {
    /*background: linear-gradient(#f1f1f1, #e8e8e8);*/
    background: linear-gradient(#61656b, #61656b);
}

.accordion .card-header h2 {
    font-size: 1rem;
}

.accordion .fa {
    width: 20px;
    margin-right: .25rem;
}

.accordion .card-header a {
    float: left;
    width: 100%;
    cursor: pointer;
}

.accordion .toggle {
    font-size: .8rem;
    line-height: .8rem;
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 14px;
    margin: 0;
}

.accordion .toggle:hover {
    opacity: 1;
}

.accordion .card-body {
    padding: 0;
}

.accordion .list-group-item {
    border-radius: 0;
    border-width: 1px 0 1px 0;
    padding-left: 30px;
    background: #d6dbe0;
    font-weight: 500;
}

.accordion .list-group-item:hover {
    background: #007bff;
}

.accordion .list-group-item:hover a {
    color: #fff !important;
}

.accordion .list-group-item:hover .badge {
    background: #fff;
    color: #007bff;
}

.accordion .list-group-item a {
    color: #61656b;
    display: block;
}

.accordion .list-group-item .badge {
    float: right;
    min-width: 36px;
}

.accordion .rotate {
    transform: rotate(180deg);
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url("/imagenes/menu/hamburger6.svg");
}

.card-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: cover;
}

.navbar {
    padding: .5rem 1rem 5px 5px;
}


.login_btn {
    color: black;
    background: none;
    border: hidden;
    background-image: url('../imagenes/header/cerrarSessionMin.png');
    background-size: 60px 60px;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px !important;
    height: 60px;
}

.close {
    float: right;
    line-height: 300px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


