<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="ZWS_SAPLETRA_GGB_BND">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZWS_SAPLETRA_GGB_BND_soap12">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZWS_SAPLETRA_GGB_BND1">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZWS_SAPLETRA_GGB_BND_soap121">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZWS_SAPLETRA_GGB_BND2">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZWS_SAPLETRA_GGB_BND_soap122">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapjr01.grupoag.es:8080/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND"
        contract="WS_SAP_PROD.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND" />
      <endpoint address="http://sapjr01.grupoag.es:8080/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND_soap12"
        contract="WS_SAP_PROD.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND_soap12" />
      <endpoint address="http://gssap001.clay.local:8000/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND1"
        contract="WS_SAP_UNI.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND1" />
      <endpoint address="http://gssap001.clay.local:8000/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND_soap121"
        contract="WS_SAP_UNI.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND_soap121" />
      <endpoint address="http://clds4as01.clay.local:8000/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND2"
        contract="WS_SAP_DES.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND2" />
      <endpoint address="http://clds4as01.clay.local:8000/sap/bc/srt/rfc/sap/zws_sapletra_ggb/100/zws_sapletra_ggb/zws_sapletra_ggb_bnd"
        binding="customBinding" bindingConfiguration="ZWS_SAPLETRA_GGB_BND_soap122"
        contract="WS_SAP_DES.ZWS_SAPLETRA_GGB" name="ZWS_SAPLETRA_GGB_BND_soap122" />
    </client>
    <services>
      <service name="WS_GESAG.IWsGesag">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="" behaviorConfiguration="RFEndPointBehavior" contract="WS_GESAG.IWsGesag">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="RFEndPointBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>